.hero-image-container{
	background-position: top !important;
	height: 27vh !important;
}
.content-wrapper{
	background-image: url("https://raw.githubusercontent.com/TdewT/Shindeny/main/Akame%20na%20Shindena.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.sidebar-wrapper{
	border: 2px solid #ff000091;
	background-color: rgba(12, 0, 0, 0.6);
	padding: 15px;
	border-radius: 5px !important;
	box-shadow: 0 0 10px #bf0000;
}
.view-content-wrapper{
	border-radius: 5px !important;
	box-shadow: 0 0 10px #bf0000;
}
.sidebar-list-item.is-active:hover{
	padding-left: 0% !important;
	animation-name: none !important;
}
.is-active>.sidebar-list-title{
	padding-left: 5% !important;
	color: rgb(120 120 120) !important;
}
.input-element{
	border-radius: 5px !important;
	border: 1px solid rgb(147 0 0) !important;
    background-color: #6e00007d !important;
	box-shadow: 0 0 5px #bf0000;
}
.input-wrapper{
	border-radius: 5px !important;
}
.custom-dropdown .custom-dropdown-control, 
.custom-dropdown-control, 
.advanced-tags-btn{
	border-radius: 5px !important;
	color: red;
	border: 1px solid rgb(147 0 0) !important;
    background-color: rgb(60 2 0) !important;
	box-shadow: 0 0 5px #bf0000;
}
.custom-dropdown:hover .custom-dropdown-control:hover, 
.custom-dropdown-control:hover, 
.advanced-tags-btn:hover, .input-element:hover{
	text-shadow: 0 0 10px #bf0000 !important;
	box-shadow: 0 0 10px #bf0000 !important;
}

.custom-dropdown .custom-dropdown-control svg, .custom-dropdown-control svg{
	color: rgb(180, 180, 180) !important;
}
.custom-dropdown .custom-dropdown-control:hover svg, .custom-dropdown-control:hover svg{
	color: rgb(255, 255, 255) !important;
}
.is-active:not(.sidebar-list-item){
	border: 1px solid rgb(147 0 0) !important;
	background-color: rgb(77 4 0 / 50%) !important;
	box-shadow: 0 0 10px #440000;
}

/*Animka do dropdowna*/
.css-11unzgr::-webkit-Scrollbar{
	display: none;
}
.css-11unzgr{
	border-radius: 10px;
    border: 1px solid rgb(147 0 0) !important;
}
.css-26l3qy-menu{
	background-color: rgb(60 2 0) !important;
	animation-name: dropdown;
	animation-duration: 0.2s;
	overflow: hidden;
}




/* Nawigacyjne Górne */
.navigation-background{
	opacity: 0.8;
	background-color: rgba(208, 2, 27, 0.8) !important;
	transition: opacity ease-in-out 200ms ;
}
.navigation-list-item:hover a.is-active {
	border-bottom: 3px solid #eceaec !important;
}
.navigation-list-item .is-active{
	color: white !important;
	text-shadow: 0 0 10px white;
}
.jsx-2611382947{
	color: #dddddd !important;
}
.jsx-2611382947:hover{
	color: white !important;
}
.jsx-2611382947 a:hover{
	text-shadow: 0 0 10px white;
}


/*Search bar*/
.sidebar-accordion-icon {
    color: #f500009c !important;
}


/*Cells*/
.cell-tile-link.jsx-4281668935{
	box-shadow: 0px 0px 4px 0.2px red !important;
	border: 1px solid rgb(255 64 64) !important;
}
.cell-tile-info.jsx-4281668935{
	background-color: rgb(57 0 0 / 80%) !important;
}
.cell-tile-info.jsx-4281668935:hover p.jsx-4281668935:hover{
	color:red !important;
}
.dropdown-button.jsx-1468101596{
	background-color: rgb(113 0 0 / 65%) !important;
    border: 1px solid rgb(255 0 0 / 75) !important;
    box-shadow: 0px 0px 3px 0.1px red !important;
}
.dropdown-button.jsx-1468101596:hover{
	background-color: rgb(159 0 0 / 65%) !important;
    box-shadow: 0px 0px 6px 0.1px red !important;
}
.dropdown-list.jsx-1468101596{

    border: 1px solid red !important;
    background: radial-gradient(#650000, #710000);
    border-radius: 2px !important;
    box-shadow: 0px 0px 4px 0.1px red !important;
}
.list-button.jsx-1468101596:hover{
    background: red !important;
}

/*Edycja odc*/
.modal-inner{
    background-color: #350000a6;
    border: 1px solid #ff0000;
}



.css-1rxproo-option{
	border: 1px solid rgb(147 0 0) !important;
    background-color: rgb(90 2 0) !important;
	text-shadow: 0 0 5px #440000;
}
.css-vwv8pg-option{
	border: 1px solid rgb(147 0 0) !important;
    background-color: rgb(60 2 0) !important;
}


.sidebar-list-item:hover{
	animation-name: list-title;
	animation-duration: 0.4s;
	padding-left: 5%;
}
:not(.is-active):hover>.sidebar-list-counter{
	text-shadow: 0 -0 10px #aa0000;
	color: #DB0000 !important;
}
:not(.is-active):hover>.sidebar-list-title{
	text-shadow: 0 -0 10px #aa0000;
	color: #DB0000 !important;
}


@keyframes list-title{
  0%  {
		padding-left: 0;
	  }
  100% {
		  padding-left: 5%;
	   }
}

@keyframes dropdown{
	0% {
		height:0px;
		width:0px;
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}
