.hero-image-container{
	background-position: top !important;
	height: 45vh !important;
}
.content-wrapper{
	background-image: url("https://raw.githubusercontent.com/TdewT/Shindeny/main/Akame%20na%20Shindena.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
.sidebar-wrapper{
	border: 2px solid #ff000091;
	background-color: rgba(12, 0, 0, 0.6);
	padding: 15px;
	border-radius: 20px 0 20px 0;
	box-shadow: 0 0 10px #bf0000;
}
.css-26l3qy-menu{
	
}
.view-content-wrapper{
	box-shadow: 0 0 10px #bf0000;
}
.sidebar-list-item.is-active:hover{
	padding-left: 0% !important;
	animation-name: none !important;
}
.is-active>.sidebar-list-title{
	padding-left: 5% !important;
	color: rgb(120 120 120) !important;
}
.input-element{
	border: 1px solid rgb(147 0 0) !important;
    background-color: #6e00007d !important;
	box-shadow: 0 0 5px #bf0000;
}
.custom-dropdown .custom-dropdown-control, 
.custom-dropdown-control, 
.advanced-tags-btn{
	color: red;
	border: 1px solid rgb(147 0 0) !important;
    background-color: rgb(60 2 0) !important;
	box-shadow: 0 0 5px #bf0000;
}
.custom-dropdown:hover .custom-dropdown-control:hover, 
.custom-dropdown-control:hover, 
.advanced-tags-btn:hover, .input-element:hover{
	text-shadow: 0 0 10px #bf0000 !important;
	box-shadow: 0 0 10px #bf0000 !important;
}

.custom-dropdown .custom-dropdown-control svg, .custom-dropdown-control svg{
	color: rgb(180, 180, 180) !important;
}
.custom-dropdown .custom-dropdown-control:hover svg, .custom-dropdown-control:hover svg{
	color: rgb(255, 255, 255) !important;
}
.is-active:not(.sidebar-list-item){
	border: 1px solid rgb(100 0 0) !important;
    background-color: rgb(38 2 0) !important;
	box-shadow: 0 0 10px #440000;
}

.css-1rxproo-option{
	border: 1px solid rgb(147 0 0) !important;
    background-color: rgb(90 2 0) !important;
	text-shadow: 0 0 5px #440000;
}
.css-vwv8pg-option{
	border: 1px solid rgb(147 0 0) !important;
    background-color: rgb(60 2 0) !important;
}


.sidebar-list-item:hover{
	animation-name: list-title;
	animation-duration: 0.4s;
	padding-left: 5%;
}
:not(.is-active):hover>.sidebar-list-title{
	text-shadow: 0 -0 10px #aa0000;
}

@keyframes list-title{
  0%  {
		padding-left: 0;
	  }
  100% {
		  padding-left: 5%;
	   }
}
